.navbar-dark {
  background-color: #512DA8;
}

a:-webkit-any-link {
  text-decoration-line: none;
  color: inherit;
}

.nav-item{
  padding: 0px;
  /*margin:  5px 15px;*/
  color:rgb(228, 218, 231);
}

.summary{
  margin: 10px;
  padding: 10px
}

.btn-white{
  color:rgb(228, 218, 231);
}

.btn-circle{ 
  padding : 6px 10px;
  margin : 3px 0px;
  border-radius: 55px; 

} 

.details{
margin-top: 50px;
}

.signin{
  padding-top: 30px;
  margin-top: 150px
}

.signup{
  padding-top: 30px;
  margin-top: 100px
}

#formsubmit{
  margin: 10px 0px;
}

.bg-second{
  background: #9F73D1;
}

.bg-card{
  background: #E3D0F8;
}